In [1]:
from scripts.data import Dataset
from scripts.model import Model

In [2]:
import os
import pandas as pd

In [3]:
root_path = os.getcwd()
root_path

'c:\\Users\\Henri Mayoud\\Documents\\Ã©tudes\\ESSEC-Centrale\\cours Y2\\T2\\MLOps\\lab1\\test_ml\\package'

In [4]:
path = "data"
df_train = Dataset()
df_train.load_data(os.path.join(path,'train.csv'))

df_train.clean()

train_features,train_labels = df_train.split_label_features()

In [5]:
df_train.df_cleaned.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,0.404494,2.240169,0.363764,29.642093,0.514045,0.432584,34.567251,0.261236
std,0.491139,0.836854,0.481420,14.492933,0.930692,0.854181,52.938648,0.521561
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,20.000000,0.000000,0.000000,8.050000,0.000000
50%,0.000000,2.000000,0.000000,28.000000,0.000000,0.000000,15.645850,0.000000
75%,1.000000,3.000000,1.000000,38.000000,1.000000,1.000000,33.000000,0.000000
max,1.000000,3.000000,1.000000,80.000000,5.000000,6.000000,512.329200,2.000000

In [5]:
model = Model()
model.fit(train_features,train_labels, save_model="testing_")
model.set_accuracy(train_features,train_labels)
print("model did fit, with accuracy ", model.get_accuracy())

existing models:  ['default.pkl', 'testing_.pkl', '__init__.py']
model did fit, with accuracy  0.6769662921348315

In [6]:
model_1 = Model(pickle_name='testing_')
model_1.set_accuracy(train_features,train_labels)
model_1.get_accuracy()

#model_1.predict()

existing models:  ['default.pkl', 'testing_.pkl', '__init__.py']

0.6769662921348315

In [16]:
lst = list([1, 1, 20, 5, 0, 10, 1])
df = pd.DataFrame([lst])
df.columns =['Pclass','Sex','Age',"SibSp","Parch","Fare","Embarked"]

my_dict = {
    'Pclass': [1,1],
    'Sex': [1,1],
    'Age': [20,20],
    "SibSp": [5,5],
    "Parch": [0,0],
    "Fare": [10,10],
    "Embarked": [1,1]
}
df = pd.DataFrame.from_dict(my_dict)
print(df)

# MODEL PREDICTION
list(model_1.predict(df))

   Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0       1    1   20      5      0    10         1
1       1    1   20      5      0    10         1

[0, 0]